@using TatilSeyahatSitesiMVc.Models.Sinflar
@model List<Yorumlar>
@{
    ViewBag.Title = "YorumListesi";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>YORUMLAR LİSTESİ</h2>

<table class="table table-bordered">
    <tr>
        <th>İD</th>
        <th>KULLANICI AD</th>
        <th>MAİL</th>
        <th>YORUM</th>
        <th>BLOG</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    <tbody>
        @foreach(var x in Model)
        {
        <tr>
            <td>@x.id</td>
            <td>@x.KullaniciAd</td>
            <td>@x.Mail</td>
            <td>@x.Yorum</td>
            <td>@x.Blog.Baslik</td>
            <td><a href="~/Admin/YorumSil/@x.id" class="btn btn-danger">Sil</a></td>
            <td><a href="~/Admin/YorumGetir/@x.id" class="btn btn-success">Güncelle</a></td>
        </tr>
        }
    </tbody>
</table>
